/*
INFO: 
	project: tic tac toe 1
	browsers: opera/chrome/FF/ie9/safari
	width: 
	columns:
	markup: Sergey Kalinin 05/2016 (prozaik81-2@yandex.ru)
	use: jq, bootstrap, underscore, backbone
	desc: 	
	version 1
*/	

/****************************************************************************** COMMON_STYLES */
.ttt .hide{
	display: none !important;
}

.ttt .show{
	display: block !important;
}




/****************************************************************************** GLOBAL_layout */
.ttt{
	width: 300px;
	margin: 20px auto;
}



/****************************************************************************** GLOBAL_blocks: field */
.field{
	position: relative;
	background: #fff;
	margin-bottom: 20px;
}

.cell{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	overflow: hidden;
	cursor: pointer;
}

.zero_mark{
	background: url('../images/zero.png') center center no-repeat;
	background-size: cover;
}

.cross_mark{
	background: url('../images/cross.png') center center no-repeat;
	background-size: cover;
}